# Entorno virtual
venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Django
*.log
local_settings.py
db.sqlite3
media/

# Variables de entorno
.env

# IDEs
.vscode/
.idea/

# Windows
Thumbs.db
desktop.ini

# OSRM datos procesados
osrm-data/